html {
	body {
		// APP类名覆盖
		.default-theme {
			#views {
				font-family: 'Avenir', Helvetica, Arial, sans-serif;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				text-align: center;
				color: #0af;

				#nav {
					padding: 30px;
					a {
						font-weight: bold;
						color: #0af;

						&.router-link-exact-active {
							color: #42b983;
						}
					}
				}
				
				@import './home.styl';
				@import './about.styl';
			}
		}
		// 挂载到body的组件覆盖样式，放置到这里
	}
}
