/* 滚动条样式 */
/* ::-webkit-scrollbar,
::-webkit-scrollbar:hover,
::-webkit-scrollbar-track {
	background-color: rgb(9, 16, 46);
	width: 10px;
	height: 0px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-thumb {
	background: rgba(36, 64, 88, 0.48);
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(36, 64, 88, 0.9);
}

::-webkit-scrollbar-button:horizontal:single-button:start {
	background: #033856;
}

::-webkit-scrollbar-button:horizontal:single-button:end {
	background: #033856;
}

::-webkit-scrollbar-button:vertical:single-button:start {
	background: #033856;
	height: 0px;
}

::-webkit-scrollbar-button:vertical:single-button:end {
	background: #033856;
	height: 0px;
} */
