view-table(img-url) {
	border: initial;
	border-left: 1px solid  #054598;
	border-right: 1px solid  #054598;
	
	.el-table__header-wrapper {
		margin-bottom: 5px;

		.el-table__header {
			/deep/ thead {
			    // color: #6db3d6;
			    color: #fff;
			    font-size: 16px;
			}
			/deep/ th{
				background-color: transparent;
				border-bottom: initial;
				border-right: initial;
			}
			/deep/ tr{
				background-color: initial;
				// background: url(img-url) no-repeat;
				background: rgba(35, 118, 220, 0.21);
				background-color: rgba(50,153,255,.5)
				background-size: 100% 100%;
			}

		}
	}

	.el-table__body-wrapper {
		/deep/ tr {
			// background: rgba(25, 49, 71, .5);
			// background: rgba(41, 69, 90, .5);
			// background: rgba(29, 77, 113, .5);
			background: transparent;

			&::hover td{
				background: #0af;
			}
		}

		td {
			// border-color: #315e96ad;
			// border-color: rgba(36,64,88,0.48)
			border-color: #054598;

		}
	}

	.el-table--enable-row-hover,.el-table__body tr:hover>td {
		// background: rgba(29, 77, 113, .8);
		background: rgba(35, 118, 220, 0.21);
	}
	
	.el-table__body tr.current-row>td {
		background: rgba(35, 118, 220, 0.21);
	}

	&::before {
		background: rgba(41, 128, 183, 0.31);
	}	
	
	&::after {
		background: transparent;
	}
}

