iview-page() {
	/* 字色 */
	.ivu-page-total,
	.ivu-page-prev a,
    .ivu-page-item a,
    .ivu-page-next a, 
    .ivu-page-item-jump-next::after,
    .ivu-page-item-jump-prev::after,
    .ivu-select-item,
    .ivu-page-options-elevator,
    .ivu-page-options-elevator input {
    	color: #73a6c3;
    }
    .ivu-page-disabled a {
	    color: #444;
	}
    .ivu-page-item-active a,
    .ivu-select-selected-value {
        color: #47b2fe !important;
    }
    
    /* 背景色 */
 	.ivu-page-prev, 
 	.ivu-page-item, 
 	.ivu-page-next, 
 	.ivu-select-selection,
 	.ivu-page-options-elevator input {
        // background: #000d16;
        background: transparent;
    }
    .ivu-select-dropdown {
    	// background: #042234;
    	background: transparent;
    }
    .ivu-select-item:hover {
		background: #123854;
	}
    .ivu-select-item-focus {
	    background: #1f4f73;
	}
	
	/* 边框色 */
	.ivu-page-prev
	.ivu-page-item,
	.ivu-page-next,
	.ivu-select-selection,
	.ivu-page-options-elevator input {
		border-color: #0f3047;
	}
	.ivu-page-prev:hover,
	.ivu-page-item:hover,
	.ivu-page-next:hover,
	.ivu-select-selection:hover
	.ivu-page-options-elevator input:hover,
	.ivu-page-item-active {
	    border-color: #2d8cf0 !important;
	}
}